<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>RegistrationForm_v9 by Colorlib</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block stylesheets %}
		<!-- LINEARICONS -->
		<link rel="stylesheet" href="colorlib-regform-25/fonts/linearicons/style.css">

		<!-- MATERIAL DESIGN ICONIC FONT -->
		<link rel="stylesheet" href="colorlib-regform-25/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">

		<!-- DATE-PICKER -->
		<link rel="stylesheet" href="colorlib-regform-25/vendor/date-picker/css/datepicker.min.css">
		
		<!-- STYLE CSS -->
		<link rel="stylesheet" href="colorlib-regform-25/css/style.css">
        {% endblock %}
	</head>

	<body>
       {% block body %}
       {% endblock %}
		
		{% block javascripts %}
        <script src="colorlib-regform-25/js/jquery-3.3.1.min.js"></script>

		<!-- DATE-PICKER -->
		<script src="colorlib-regform-25/vendor/date-picker/js/datepicker.js"></script>
		<script src="colorlib-regform-25/vendor/date-picker/js/datepicker.en.js"></script>

		<script src="colorlib-regform-25/js/main.js"></script>
        {% endblock %}
	</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>